{$B52_SITE_ADDRESS} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        root * {$B52_WEB_ROOT}
        try_files {path} /index.html
        file_server
    }
}
